@import '/node_modules/vl-mapactions/lib/openlayers/css/ol.css';
@import '/node_modules/vl-mapactions/dist/mapactions.css';

.ol-overlaycontainer-stopevent {
    > .ol-zoom {
        border-radius: 0;
    }

    > .ol-overviewmap {
        border-radius: 0;
        width: 100px;
        height: 100px;
    }

    > .ol-scale-line {
        border-radius: 0;
        background-color: white;

        .ol-scale-line-inner {
            border-color: black;
            color: black;
        }
    }

    > .ol-control {
        margin-top: 0;
    }
}