// @import "@govflanders/vl-ui-core/src/scss/core";
// @import "./node_modules/@govflanders/vl-ui-core/src/scss/core";
// @import "../node_modules/vl-ui-core/dist/";
@import "vl-ui-core/src/scss/core";
@import '../node_modules/vl-mapactions/lib/openlayers/css/ol';
@import '../node_modules/vl-mapactions/dist/mapactions';

#search {

    @media screen and (max-width: $vl-bp-xsmall) {
        --vl-search-width: 100%;
    }
    @media screen and (min-width: $vl-bp-xsmall) and (max-width: $vl-bp-small) {
        --vl-search-width: 100%;
    }
    @media screen and (min-width: $vl-bp-small) and (max-width: $vl-bp-medium) {
        --vl-search-width: 50%;
    }
    @media screen and (min-width: $vl-bp-medium) and (max-width: $vl-bp-large) {
        --vl-search-width: 30%;
    }
    @media screen and (min-width: $vl-bp-large)  {
        --vl-search-width: 30%;
    }
}