@import '~vl-mapactions/lib/openlayers/dist/ol';
@import '~vl-mapactions/dist/mapactions';

:host {
    --vl-map--margin-top: 0px;
}

#map {
    height: calc(var(--vl-map-height, 500px) - var(--vl-map--margin-top)); 
    width: 100%;
}

.ol-overlaycontainer-stopevent {
    > .ol-zoom {
        border-radius: 0;
    }

    > .ol-overviewmap {
        border-radius: 0;
        width: 100px;
        height: 100px;
    }

    > .ol-scale-line {
        border-radius: 0;
        background-color: white;

        .ol-scale-line-inner {
            border-color: black;
            color: black;
        }
    }

    > .ol-control {
        margin-top: 0;
    }

    > .ol-zoomslider {
        background: none;

        .ol-zoomslider-thumb {
            margin-bottom: 5px;
        }
    }
}