@import '~vl-mapactions/lib/openlayers/css/ol';
@import '~vl-mapactions/dist/mapactions';

#map {
    height: var(--vl-map-height, 500px);
    width: 100%;
}

:host(.vl-map--search) {
    .ol-zoom, .ol-zoomslider, .ol-rotate {
        margin-top: 35px;
    }
}

:host(#map) {
    height: calc(var(--vl-map-height, 500px) - 35px);
}

.ol-overlaycontainer-stopevent {
    > .ol-zoom {
        border-radius: 0;
    }

    > .ol-overviewmap {
        border-radius: 0;
        width: 100px;
        height: 100px;
    }

    > .ol-scale-line {
        border-radius: 0;
        background-color: white;

        .ol-scale-line-inner {
            border-color: black;
            color: black;
        }
    }

    > .ol-control {
        margin-top: 0;
    }

    > .ol-zoomslider {
        background: none;

        .ol-zoomslider-thumb {
            margin-bottom: 5px;
        }
    }
}